name: hexlet-action

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: gthwrkspc 
      run: echo $GITHUB_WORKSPACE
      - name: npm install
        run: |
          make install
      - name: Run linter
        run: |
          make lint

